<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MovePageDots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guzzler.movepagedots2prefs</string>
			<key>key</key>
			<string>tweakOnOff</string>
			<key>label</key>
			<string>Tweak On/Off</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.guzzler.movepagedots2prefs</string>
			<key>key</key>
			<string>dotsHeight</string>
			<key>label</key>
			<string>Page Dots Height</string>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>com.guzzler.movepagedots2prefs/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>MovePageDots</string>
</dict>
</plist>
